{% extends 'base.html' %}

{% block content %}
<h2>Статистика расходов</h2>

{% if amounts|length > 0 %}
<div style="width: 100%; max-width: 600px; height: 400px; margin: auto;">
    <canvas id="expensesChart"></canvas>
</div>
{% else %}
    <p>Нет расходов для отображения.</p>
{% endif %}

<!-- Таблица расходов -->
<div style="max-height: 400px; overflow-y: auto;">
    <table>
        <thead>
            <tr>
                <th>Место покупки</th>
                <th>Категория</th>
                <th>Сумма</th>
                <th>Валюта</th>
                <th>Дата</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in expenses %}
            <tr onclick="window.location.href='{% url 'expense' expense.id %}'" style="cursor: pointer;">
                <td>{{ expense.place }}</td>
                <td>{{ expense.category }}</td>
                <td>{{ expense.amount }}</td>
                <td>{{ expense.currency }}</td>
                <td>{{ expense.expense_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Защищённые данные JSON -->
{{ categories|json_script:"categories-data" }}
{{ amounts|json_script:"amounts-data" }}
{% if recommendation_message %}
    <div class="alert alert-info" style="margin-top: 20px;">
        <strong>Рекомендация:</strong> {{ recommendation_message }}
    </div>
{% endif %}

<!-- Скрипт для отображения графика -->
<script>
    const categories = JSON.parse(document.getElementById('categories-data').textContent);
    const amounts = JSON.parse(document.getElementById('amounts-data').textContent);

    const ctx = document.getElementById('expensesChart').getContext('2d');
    const expensesChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: categories,
            datasets: [{
                data: amounts,
                backgroundColor: [
                    '#FF6384',
                    '#36A2EB',
                    '#FFCE56',
                    '#4BC0C0',
                    '#9966FF',
                    '#FF9F40',
                ],
                hoverBackgroundColor: [
                    '#FF6384',
                    '#36A2EB',
                    '#FFCE56',
                    '#4BC0C0',
                    '#9966FF',
                    '#FF9F40',
                ]
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    position: 'bottom',
                },
                title: {
                    display: true,
                    text: 'Расходы по категориям'
                }
            }
        }
    });
</script>
{% endblock %}
{% if recommendation_message %}
    <div class="alert alert-info" style="margin-top: 20px;">
        <strong>Рекомендация:</strong> {{ recommendation_message }}
    </div>
{% endif %}
