{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<p>Привет, {{ user.username }}!</p>
<p><a href="{% url 'password_change' %}">Изменить пароль</a></p>
{% else %}
<div style="text-align: center;">
    <p>Вы не авторизованы</p>
    <p>
        <a href="{% url 'login' %}" style="margin-right: 10px;">Войти</a>
        <a href="{% url 'signup' %}" style="margin-right: 10px;">Зарегистрироваться</a>
        <a href="{% url 'password_reset' %}">Сбросить пароль</a>
    </p>
</div>
{% endif %}
{% endblock %}
